doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= `${name} | ${description}`
    link(rel="icon"  type="image/png"  href="favico.png")
    link(rel="stylesheet" href="main.css")
  body
    h1=name
    h2=description
    #app
    script(src="main.js")
