body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
